.bg-hero-container {
    background-image: url("https://ik.imagekit.io/e9lbb2htg/Food-Store/foodmunch-banner-bg.png"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust height as needed */
}   